<!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>All users</title>
    </head>
    <body>
        <h1>users</h1>
        <hr/>
        <br/>
        <a href="/new">Create new user</a>
        <br/>
        <br/>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            <tr th:each="user, state:${users}">
                <td th:text="${user.name}">Name</td>
                <td th:text="${user.age}">Age</td>
                <td th:text="${user.email}">Email</td>
                <td>
                    <a th:href="@{/delete(id=${user.getId()})}">Delete</a>
                    <a> | </a>
                    <a th:href="@{/edit(id=${user.getId()}, name=${user.getName()}, age=${user.getAge()}, email=${user.getEmail()})}">Edit</a>
                </td>
            </tr>
        </table>
    </body>
</html>